Package: ajbbodev.sbpagecontrol
Name: SBPageControlHidden
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: aJBboCydia
Author: aJBboCydia
Section: Tweaks
